<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table th:fragment="job-list" class="job-listing">
            <th:block th:each="column : ${jobs}">
                <tr>
                    <td >
                        <ul th:text = "${'Id: ' + column.id}"></ul>
                        <ul th:text = "${'Name: ' + column.name}"></ul>
                        <ul th:text = "${'Employer: ' + column.employer}"></ul>
                        <ul th:text = "${'Location: ' + column.location}"></ul>
                        <ul th:text = "${'Position Type: ' + column.positionType}"></ul>
                        <ul th:text = "${'Skill: ' + column.coreCompetency}"></ul>
                    </td>
                </tr>
            </th:block>
    </table>

</div>

</body>
</html>